body {
    font-size: 0.8125rem;
    background: white;
}

.app.viewport {
    position: relative;
    z-index: 1;
}
.main {
    position: relative;
    display: flex;
}
div.content {
    flex: 2;
    position: relative;
    overflow: auto;
    min-height: calc(100vh - 3.125rem - 2.5rem);
}
.content-inner {
    flex: 2;
    position: relative;
    display: flex;
}
.code.slds-text-longform {
    background-color: #f2f7fc;
    font-size: 1rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    border-radius: 4px;
    border: solid 3px #f2f2f2;
}